<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand">ANALIZER</a>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1 ">
                    <li class="nav-item">
                        <a class="nav-link text-dark" [routerLink]="'/Home'">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" [routerLink]="'/Saved'">Saved data</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" [routerLink]="'/Live'">Live data</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" [routerLink]="'/Processes'">Proecesses Live</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" [routerLink]="'/Computers'">My computers</a>
                    </li>
                    </ul>
                    <ul class = "navbar-nav flex-grow-1 ml-auto">
                    <li class="nav-item">
                        <a class="nav-link text-dark" [routerLink]="'/Log'">Log in</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" [routerLink]="'/Register'">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark"[routerLink]="'/LogOut'">Log out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
