<div>
    <select class="form-select" aria-label="Default select example">
        <option value = "RAM" selected>RAM</option>
        <option value="CPU">CPU</option>
        <option value="GPU">GPU</option>
    </select>
    <select class="form-select mt-2" aria-label="Default select example">
        <option value="0" selected>Select Computer</option>
    </select>
    <select class="form-select mt-2" aria-label="Default select example">
        <option value="0" selected>Date</option>
    </select>
    <br>
    <button type="button" class="btn btn-primary mt-2" (click)="Click()" >Submit</button>
</div>