<div style="height: 200px;"></div>
<div class="row justify-content-center">
    <div class="col border pt-4 rounded" style="min-width: 300px; max-width: 300px;">
        <h2>Register</h2>
        <form method="post">
            <div class="form-outline mb-4">
                <input type="text" name="userName" id="form2Example1" class="form-control" />
                <label class="form-label" for="form2Example1">User Name</label>
            </div>

            <div class="form-outline mb-4">
                <input type="text" name="userNickName" id="form2Example1" class="form-control" />
                <label class="form-label" for="form2Example1">Name</label>
            </div>

            <div class="form-outline mb-4">
                <input type="password" name="password" id="form2Example2" class="form-control" />
                <label class="form-label" for="form2Example2">Password</label>
            </div>       

            <button type="submit" class="btn btn-primary btn-block mb-4">Register</button>
        </form>
    </div>

</div>